{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'starships/favicon.ico' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'starships/main.css' %}">

    <title>Star Wars StarShips</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home-page' %}">Starships</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'search' %}">Search</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main role="main" class="container">
        <div class="row">
          {% url 'home-page' as home %}
          {% if request.path != home %}
          <div class="col-md-8">
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>The Universe</h3>
              <hr>
                <ul class="list-group">
                  <a href="{% url 'people-home' %}"><li class="list-group-item list-group-item-light">People</li></a>
                  <a href="{% url 'ship-ship' %}"><li class="list-group-item list-group-item-light">Starships</li></a>
                </ul>
            </div>
          </div>
          {% else %}
            <div class="px-4 py-5 my-5 text-center">
              <img class="d-block mx-auto mb-4" src="{% static 'starships/favicon.ico' %}" alt="" width="72" height="57">
              <h1 class="display-5 fw-bold">Welcome to the Star Wars Universe</h1>
              <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Star Wars is an American epic space opera multimedia franchise created by George Lucas, which began with the eponymous 1977 film and quickly became a worldwide pop-culture phenomenon.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <a href="{% url 'people-home' %}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Peoples</button></a>
                  <a href="{% url 'ship-ship' %}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Star Ships</button></a>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </main>

   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    {% block javascript %}{% endblock javascript%}
</body>
</html>