{% extends "starships/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Write what you search want to.</h1>
    <hr>
    <div class="d-flex flex-row">
        <input id="user-input" placeholder="Search" class="col-md-10">
        <button id="search-btn" type="submit" class="btn btn-dark btn-search col-md-2">Go</button>
    </div>
    <hr>
    <div id="search-ship"></div>
    <div id="search-person"></div>
</div>
{% endblock content %}
{% block javascript %}
<script type="text/javascript" src="{% static 'starships/search.js'%}" ></script>
{% endblock javascript %}
